.jumbotron{
  position: relative;
}

.logotipo{
  position: relative;
  margin-top: -23px;
  margin-bottom: -20px;
}

.login{
  position: relative;
  margin-top: 50;
}

.p{
  font-size: 30;
}

.valores{
  position:relative;
  margin-left: -5;
  font-size: 21;
}

.visao{
  font-size: 20;
}

.missao{
  font-size: 20;
}


.boneca{
  position:relative;
  margin-left: 20;
}

.agenda{
  position:relative;
  margin-right: 20;
}

.madeira{
  position:relative;
  margin-left:10;
}

.chaveiros{
  position: relative;
  margin-left: 20;
}

.bolsas{
  position:relative;
  margin-left: 10;
}

.ban{
  position:relative;
  margin-left:20;
}

/*Menu*/
#menu{
  color:#372019;
}
/*End Menu*/

/*Cards*/
#sub{
  font-family:'Ink Free';
  color: #372019;
}
/*End Cards*/

/*Jumbotron*/
#subjumb{
  font-family:'Georgia';
  color: orange;
}

div.jumbotron{
  background: #372019;
}
/*End Jumbotron*/

/*Icone de rede social no Jumbotron*/

#lo, i{
  color:#372019;
}
/*END*/

/*dropdown*/
#drop{
  font-family: 10px Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
 
}

p:hover{
  text-decoration: none;
}


p:link{
  color: #372019;
}

div.text-white{
  font-size: medium;
}
/*end*/

#log:hover{
  text-decoration:none;
  color: yellow;
}

.fotoprod{
  position:relative;
  margin-top: 30px;
}

.usuario{
  color:#836FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}





